<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Fragment>
    <!-- Program Files directory -->
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="DASMO CYBER CAFE TOOLS" />
    </StandardDirectory>

    <!-- Start Menu directory -->
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="SmartSaverProgramMenu" Name="DASMO CYBER CAFE TOOLS" />
    </StandardDirectory>

    <!-- Desktop directory for shortcut -->
    <StandardDirectory Id="DesktopFolder" />
  </Fragment>

</Wix>
